**/target
**/*.iml
**/*.eclipse
**/.idea
/csharp/MovieRental.Tests/bin/
/csharp/MovieRental.Tests/obj/
/csharp/MovieRental/.vs/
/csharp/MovieRental/bin/
/csharp/MovieRental/obj/
/csharp/MovieRental/packages/
*.ncrunchsolution.user
csharp/MovieRental/_NCrunch_MovieRental
csharp/MovieRental/MovieRental.sln.DotSettings.user
csharp/MovieRental/MovieRental.v3.ncrunchsolution
